.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 130px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.displayBlock {
  display: block;
  padding-left: 20px;
  border-left: 5px solid lightgray;
}
