.navbar {
  display: flex;
  background-color: black;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a:hover {
  color: white;
}

.logo {
  display: inline-block;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 500px) {
  .navbar {
    display: none;
  }
  .logo {
    visibility: hidden;
  }
}
