.prosGreen {
  color: green;
  font-size: 22px;
  font-weight: 600;
}

.consRed {
  color: red;
  font-size: 22px;
  font-weight: 600;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.subtitle {
  font-size: 22px;
  font-weight: 600;
}

.miniSubtitle {
  font-size: 18px;
  font-weight: 600;
}

.redCode {
  color: #d1254e;
  background-color: #f9f2f4;
  font-weight: 500;
}

.blueCode {
  color: #3f88c5;
  font-weight: 500;
}

.blueP {
  color: #3f88c5;
  font-size: 18px;
  font-weight: 600;
}
